.website{
   display: grid;
   height: 100vh;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 0.2fr 1fr;
   grid-template-areas: 
      "header header header"
      "leftsidebar maincontent rightsidebar"
      "footer footer footer"
   ;
     grid-gap: 5px;
     text-align: center;
     min-height: 10px;
     font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color:#fe8515;
    grid-area: header;
    color: aliceblue;
    line-height: 10;
}
#leftsidebar{
    background-color: #7fc242;
    grid-area: leftsidebar;
    border-radius: 10px;
    color: aliceblue;
    line-height: 30;
    
}
main{
    background-color: #8bf10a;
    grid-area: maincontent;
    border-radius: 10px;
    color: aliceblue;
    line-height: 30;
    width: 140vh;
}
#rightsidebar{
    background-color: #7fc242;
    grid-area: rightsidebar;
    border-radius: 10px;
    color: aliceblue;
    line-height: 30;
}
footer{
    background-color: #f57e20;
    grid-area: footer;
    color: aliceblue;
    line-height: 10;
}